page-update-survey {
    hr {
        border: 1px solid black !important;
        height: 1px !important;
        width: 400px !important;
        background: black !important;
        display: block !important;
        font-size: 2em !important;
        visibility: visible !important;
      }
}
